<header>
  <div class="logo">
    <a href="{{ "/" | relative_url }}"><img src="/images/logo-black.png" alt="sustainably styled logo"></a>
    <h1><a href="{{ "/" | relative_url }}">Sustainably<br/>Styled</a></h1>
    <h4><a href="{{ "/" | relative_url }}">NYC</a></h4>
  </div>
</header>

<ul class="nav" data-ui="nav">
  <li class="nav-item" data-nav-item="about">
      <a data-ui="nav-item" data-nav-item="about">About</a>
  </li>
  <li class="nav-item" data-nav-item="services">
      <a data-ui="nav-item" data-nav-item="services">Services</a>
  </li>
  <li class="nav-item" data-nav-item="faqs">
      <a data-ui="nav-item" data-nav-item="faqs">FAQs</a>
  </li>
  <li class="nav-item">
    <a href="">Schedule a Session</a>
  </li>
</ul>