/** VARIABLES **/

// grays
$black:                 #000;
$grayDarker:            #222;
$grayDark:              #333;
$gray:                  #555;
$grayLight:             #999;
$grayLighter:           #eee;
$grayLightest:			#fafafa;
$white:                 #fff;

// colors
$teal: #09aba7;
$bodyFontColor: $grayDarker;
$highlightFontColor: $teal;
$borderColor: $grayLight;

// typography
$fontsize: 20px;
$lineheight: 31px;
$headline-font: 'Dawning of a New Day', cursive;
$headline-weight: 100;
$body-font: 'Open Sans', sans-serif;
$body-weight: 300;
$logo-font: 'Nunito', sans-serif;
$logo-weight: 300;

/** MIXINS **/

@mixin transition($transition) {
    -webkit-transition: $transition;
       -moz-transition: $transition;
         -o-transition: $transition;
            transition: $transition;
}

@mixin bg-color-transition {
    @include transition(background-color .5s ease-in-out);
}

@mixin color-transition {
    @include transition(color .5s ease-in-out);
}

@mixin left-transition {
    @include transition(left .5s ease-in-out);
}

@mixin opacity-transition {
    @include transition(opacity .5s ease-in-out);
}

@mixin link-color-transition($color) {
    color: $color;
    @include color-transition;
    text-decoration:none;
}

@mixin link-opacity-transition($color) {
    color: $color;
    @include opacity-transition;
    text-decoration:none;
}

@mixin no-transition() {
    @include transition(none);
}

/** STYLES **/

// typography

h2, h3, h5, h6 {
	font-family: $headline-font;
	font-weight: $headline-weight;
	text-rendering: optimizeSpeed;
}

h1 { 
    font-family: $body-font;
    line-height: $lineheight;
    font-size: $fontsize * 1.5;
    text-transform: uppercase;
    letter-spacing: 0.04em;
    margin: 0em;
    padding: 0em;
    a {
        color: $black;
        &:hover {
            color: $black;
        }
    }
} 

h2 { 
	line-height: $lineheight * 2;
    font-size: $fontsize * 4;
    letter-spacing: 0.02em;
    text-align: center;
    padding-top: 0.7em;
    margin-block-start: auto;
}

h3 { 
	line-height: $lineheight * 1.15;
    font-size: $fontsize * 1.75; 
    margin: 1em 0em 0em 0em;
    text-align: center;
}

h4 {
	font-family: $body-font;
	font-weight: $body-weight;
	line-height: $lineheight * 0.75;
    font-size: $fontsize * 0.75;
    margin-bottom: 0em;
    text-transform: uppercase;
    letter-spacing: 0.04em;
    margin: 0em;
    padding: 0em;
    a {
        color: $black;
        &:hover {
            color: $black;
        }
    }
} 

h5 { 
    font-size: $fontsize; 
    line-height: $lineheight;
}

h6 { 
	font-size: $fontsize * 0.85; 
} 

a {
	@include link-color-transition($highlightFontColor);
	&:hover {
		@include link-color-transition($grayDarker);
    }
    &.icons {
        @include link-color-transition($bodyFontColor);
        &:hover {
            @include link-color-transition($highlightFontColor);
        }
    }
}

.button {
    margin: 0 auto;
    display: block;
    width: fit-content;
    background-color: $teal;
    border: 2px solid $teal;
    padding: 0.5em;
    color: $white;
    @include no-transition();
	&:hover {
        color: $teal;
        background-color: $white;
        @include no-transition();
    }
    &:focus {
        outline: none;
        @include no-transition();
    }
}

blockquote p {
    line-height: $lineheight * 0.75;
    color: $grayLight;
}

%small {
	line-height: $lineheight * 0.6;
	font-size: $fontsize * 0.75;
	font-weight:400;
}

.caption {
    @extend %small;
}

p + .caption {
    margin-top: -1.5em;
}

ul {	
    margin-bottom: 1.25em;
    list-style-image: url("/images/logo-tiny.png");
    padding-inline-start: 1.5em
}

li {
    line-height: $lineheight;
    padding-left: 0.25em;
}

.rss {
    display: none;
}

// layout

html {
    height: 100%;
}

body {
    margin: 0;
	font-weight: $body-weight;
	font-size: $fontsize;
	line-height: $lineheight;
	font-family: $body-font;
    color: $bodyFontColor;
    height: 100%;
}

main {
    min-height: 20em;
    text-align: center;
    margin-bottom: 4em;
}

header {
    text-align: center;
    background: url("/images/3.png") no-repeat;
    background-size: cover;
    background-position-y: bottom;
    min-height: 50%;
}

.logo {
    display: inline-block;
    margin: 1em;
    background: $white;
    opacity: .7;
    border-radius: 50%;
    padding: 1em;
    img {
        margin-top: 1em;
        max-width: 100px;
        height: auto;
        float: none;
        border-radius: 0;
        padding: 0;
    }
    h1, h4 {
        font-family: $logo-font;
    }
}

section {
    box-sizing: border-box;
    width: 100%;
    max-width: 800px;
    clear: both;
    padding: 1em 4em;
    text-align: left;
    margin: 0 auto;
}

.footer {
    @extend %small;
    padding-bottom: 2em;
    color: $bodyFontColor;
    background: url("/images/7.png") no-repeat;
    background-size: cover;
    background-position-y: bottom;
    min-height: 50%;
    max-width: 100%;
    a {
        color: $bodyFontColor;
        text-decoration: underline;
        &:hover {
            color: $bodyFontColor;
        }
    }
}

.footer-content {
    background-color: $white;
    opacity: 0.7;
    padding: 1em;
    display: inline-block;
}

img {
    width: 40%;
    float: right;
    padding: 1.25em 0em 1em 1em;
    border-radius: 50%;
}

.border {
    border: 1px solid $borderColor;
}

.rightpic {
    float: right;
    padding: 0em 0em 1em 1em;
}

.leftpic {
    float: left;
    padding: 1em 1em 0em 0em;
}

.text-center {
    margin: 0 auto;
    text-align: center;
}

ul.icons {
    text-indent:0px;
    list-style-type:none;
    margin: 1em 0em;
    padding: 0;
	li {
		filter: none;
        zoom: normal;
        display: inline;
        padding: 1em;
	}
	a {
		color: $bodyFontColor;
		@include color-transition;
		&:hover {
			color: $highlightFontColor;
			text-decoration:none;
			@include color-transition;
		}
	}
}

.text-background {
    background: $white;
    opacity: 0.8;
    padding: 1em;
}

.nav {
    text-align: center;
    margin: 0 auto;
    padding: .5em;
    background: #fff;
    opacity: .96;
    border-bottom: 2px solid #ccc;
    font-family: $body-font;
}

.nav-stuck {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

.nav-item {
    display: inline-block;
    font-size: 1.2em;
    padding: 0em 1em 0em 1em;
    margin-bottom: 0;
}

.nav-item a {
    border-bottom: 1px transparent;
    cursor: pointer;
}

@media (max-width: 700px) {
    body {
        padding-bottom: 1em;
    }

    section {
        padding: 1em;
    }

    .rightpic, .leftpic {
        float: none;
        padding: 0em;
    }

    .hide-xs {
        display: none;
    }

    .show-xs {
        display: block;
    }

    .footer {
        margin-bottom: -100px;
    }
    
    .services {
        padding: 1em;
        box-sizing: border-box;
        width: 100%;
        max-width: 800px;
        clear: both;
        text-align: left;
        margin: 0 auto;
    }
}

@media (min-width: 701px) {
    .hide-xs {
        display: block;
    }

    .show-xs {
        display: none;
    }

    .services {
        background: url("/images/4.png") no-repeat;
        background-size: cover;
        ul {	
            margin-bottom: 1.25em;
            list-style-image: url("/images/logo-tiny-white.png");
            padding-inline-start: 1.5em
        }
    }
    
    .service {
        display: inline-block;
        width: 40%;
        vertical-align: top;
        text-align: left;
        margin: 0 3%;
        background: $black;
        color: $white;
        opacity: 0.7;
        margin-bottom: 1em;
        padding: 1em;
    }
}
