<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main aria-label="Content">
      <section>
        {{ content }}
      </section>
    </main>

    {%- include footer.html -%}

  </body>

  <script src="https://code.jquery.com/jquery-3.0.0.min.js"
    integrity="sha256-JmvOoLtYsmqlsWxa7mDSLMwa6dZ9rrIdtrrVYRnDRH0="
    crossorigin="anonymous">
  </script>
  <script src="script.js"></script>

</html>