---
layout: default
---

<section>
    {{ content }}
</section>

<section>
  {%- if site.posts.size > 0 -%}
    <h2>Posts</h2>
    {%- for post in site.posts -%}
      {%- assign date_format = site.minima.date_format | default: "%-d %B %Y" -%}
      <h4>{{ post.date | date: date_format }}</h4>
      <h3>
        <a href="{{ post.url | relative_url }}">
          {{ post.title | escape }}
        </a>
      </h3>
      {%- if site.show_excerpts -%}
        <p>
          {{ post.excerpt }}
        </p>
      {%- endif -%}
    {%- endfor -%}

  {%- endif -%}
</section>
